<div class="container mt-4 ">
    <h1>Reserva de Oficinas</h1>
    <div class="col-md-6">
      <h3>Oficinas Disponibles</h3>
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="assets\imagenes\origen051022063web.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Oficina de Trabajo</h5>
            <p class="card-text">Origen Ibiza ofrece un espacio de trabajo que se adapta a tus necesidades y presupuesto, para que tú solo tengas que concentrarte en ser más productivo y rentabilizar tu negocio. Ofrecemos distintos tipos de membresía, en zona coworking (mesa fija y flex), ya sea para periodos concretos (horas o días), como periodos más largos (meses, trimestres…). También tenemos despachos independientes, para los que necesitan una mayor privacidad. Disfruta la tranquilidad de un entorno profesional, creativo, motivador y flexible. No te preocupes por nada más que por tus clientes, productos, servicios… Nosotros nos encargamos de que cada día encuentres tu sitio en perfectas condiciones y listo para aumentar tu productividad.</p>
            <nav>
              
            </nav><button routerLink="/carrito-de-pago">Reservar Sala</button>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="\assets\imagenes\1754673013043315413605412280460619095699787n.jpeg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Oficina de Reuniones</h5>
            <p class="card-text"> Tenemos todo lo que necesitas para trabajar con la máxima comodidad.Zona de recepción. Precioso jardín para un mayor disfrute de los recesos ¡y mucho más!</p>
              <button routerLink="/carrito-de-pago">Reservar Sala</button>
          </div>
        </div>
      </div>
    </div>
      <div class="col-md-6">
        <h3>Oficinas Reservadas</h3>
        <ul>
          <li *ngFor="let reservedOffice of reservedOffices">
            {{ reservedOffice.name }} - {{ reservedOffice.location }} 
            <button (click)="cancelReservation(reservedOffice)">Cancelar Reserva</button>
          </li>
        </ul>
      </div>
    </div>
