<div>
    <h2>Registro</h2>
    <form>
    <div>
      <label for="nombre">Nombre:</label>
    </div>
    <div>
      <input type="text" id="nombre" name="nombre" [(ngModel)]="nombre" required>
    </div>
    <div>
      <label for="apellido">Apellido:</label>
    </div>
    <div>
      <input type="text" id="apellido" name="apellido" [(ngModel)]="apellido" required>
    </div>
    <div>
      <label for="telefono">Telefono:</label>
    </div>
    <div>
      <input type="text" id="telefono" name="telefono" [(ngModel)]="telefono" required>
    </div>
    <div>
      <label for="direccion">Direccion:</label>
    </div>
    <div>
      <input type="text" id="direccion" name="direccion" [(ngModel)]="direccion" required>
    </div>
    <div>
      <label for="nombre">Nombre_usuario:</label>
    </div>
    <div>
      <input type="text" id="nombre_usuario" name="Nombre_usuario" [(ngModel)]="nombre_usuario" required>
    </div>
    <div>
      <label for="correo">Correo_electronico:</label>
    </div>
    <div> 
      <input type="email" id="correo_electronico" name="correo_electronico" [(ngModel)]="correo_electronico" required>
    </div>
    <div>
      <label for="contrasenia">Contraseña:</label>
    </div>
    <div> 
      <input type="password" id="contrasenia" name="contrasenia" [(ngModel)]="contrasenia" required>

    </div>
    <div>
      <button (click)="registrarUsuario()" type="submit">Registrarse</button>
    </div>
    </form>
  </div>